script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/jquery.dataTables.min.js")
script(src="/js/dataTables.bootstrap4.min.js")
script(src="/js/select2.min.js")
script(src="/js/jquery.tagsinput.min.js")
script(src="/js/app.js?v="+pkg.version)

block foot
